@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-row-gap: 60px;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    padding: 0px;
    margin-top: 100px;
    margin-left: 150px;
}

.grid-item {
    width: 356px;
    height: 355px;
    text-align: center;
}

.grid-item-text {
    background-color: #DDD7CB;
    text-align: center;
    width: 356px;
    height: 355px;
    text-align: center;
}

footer {
    background-color: #1C1C1C;
    padding: 55px 0px 80px;
    display: flex;
    justify-content: space-between;
}


.footer-list {
    font-family: 'Yeseva One',cursive;
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
    margin-top: 5px;
    text-decoration: underline;
    color: white;
    text-decoration: none;
}

    .footer-list:hover {
        text-decoration: underline;
    }

body {
    background-color: white;
    margin: 0px;
}

header {
    background-image: url("../images/restaurant/restaurant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 790px;
    margin: 0px;
}

#logo {
    height: 62px;
    width: 160px;
    margin-left: 200px;
    margin-top: 100px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 20px;
}

#symbol {
    vertical-align: middle;
}

li {
    display: inline;
}

.nav-bar {
    background-color: #e8e0d8;
    justify-content: center;
    width: 100%;
    height: 93%;
}

.nav-button {
    color: #7d7d7d;
    background-color: #e8e0d8;
    font-family: 'Yeseva One',cursive;
    font-size: 21px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-transform:uppercase;
}

.container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
#food-container{
    width:735px;
    height:360px;
}
#food-heading {
    font-size: 42px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom:20px;
}
#intro-heading {
    color: #896d4a;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Yeseva One',cursive;

}
#intro-paragraph {
    font-family: Roboto,sans-serif;
    color: #514f4d;
    line-height: 1.628571429;
    font-size: 14px;
    white-space: pre-line
}
.btn {
    padding: 6px 16px;
    font-size: 16px;
    border: none;
    font-family: 'Yeseva One',cursive;
    background-color: #166936;

    color: white;
    margin-top: 10px;
}
#intro{
    margin-left:100px;
    margin-right:10px;
    margin-top:50px;
}
#macncheese {
    background-image: url('../Images/restaurant/mac n cheese.jpg');
    width: 375px;
    height: 330px;
}
.grid-heading {
    margin-top:20px;
    font-size: 24px;
    font-family: 'Yeseva One',cursive;
    color: #514f4d;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 100%
}
.grid-paragraph {
    margin-top:10px;
    font-family: 'Roboto',serif;
    font-size: 14px;
    line-height: 1.628571429;
}


.grid-button {
    font-size: 16px;
    color: #896d4a;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: underline;
    font-family: 'Yeseva One',cursive;
}
#row2 {
    grid-row-start:4;
}
.follow {
    color: #4a4539;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}
#follow-section {
    margin-top: 250px;
    text-align:center;
}
.follow {
    color: #4a4539;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}

#footer {
    color: white;
}

.footer-ul {
    display: block;
}

.footer-img {
    margin-right: 20px;
}
.footer-mid {
    color: white;
    text-decoration: none;
}
li {
    display: inline;
}
#margin{
    margin-left:400px;
    margin-right:200px;
}
h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
}